{% extends 'base.html' %} 
{% block content %} 
<div class="card">
 <h2>All Bookings</h2>
  <table border="1" cellpadding="10"> 
  	<tr>
  	 <th>Name</th>
  	  <th>Checkin</th> 
  	  <th>Checkout</th>
  	   <th>Room</th> 
  	</tr>
  	 {% for b in bookings %}
<tr>
    <td>{{ b[3] }}</td>  <!-- name -->
    <td>{{ b[4] }}</td>  <!-- checkin -->
    <td>{{ b[5] }}</td>  <!-- checkout -->
    <td>{{ b[6] }}</td>  <!-- room -->
</tr>
{% endfor %}
  </table> 
  </div> 
  {% endblock %}